<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="addroom.css">
</head>
<body>
    <header class="header">

        <a href="#" class="logo"> <i class="fa-sharp fa-solid fa-plus"></i> Add Room</a>
       
        

         <div class="contents">
            
          <a href="#home" id="home" title="Home">Home</a> 
          <a href="#doctors"  id="doctor" title="Doctors">Doctors</a>
          <a href="#patients" id="patient" title="Patients">Patients</a>
          <a href="/addroom" id="addroom" title="Add Room"> Manage Room</a>
          <a href="#settings" class="fa-sharp fa-solid fa-gear" id="settings" title="Settings"> </a>
          <a class="fas fa-search" id="search-btn" title="Search"> </a>

         </div>
        
      
</header>

<section class="roomlist" id="roomlist">

    <div id="form-container" style="display: flex; width: 100%;">
        <form>
            <input type="text" id="header" placeholder="Enter room id">
            
            <button type="button" id="submit">Submit</button>
        </form>
        </div>
        
        <div id="container">
        
        </div>
        

</section>

</body>
</html>