body, html {
    height: 100%;
  }
  
  .bg {
    /* The image used */
    background-image: url("home_background.jpg");
    opacity: .8;
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }